<div class="new-customer row">
  <form id="myForm" class="col-md-12">
    <div class="new-customer-form">
      <h2>Add New User</h2>
      <div class="col-md-12 new-customer-form-text-fild">
        <input type="text" [(ngModel)]="first_name" name="Name" class="form-control" placeholder="Name">
      </div>
      <div class="col-md-12 new-customer-form-text-fild">
        <input type="text" [(ngModel)]="address" name="Address" class="form-control" placeholder="Address">
      </div>
     
        <div class="col-md-12 new-customer-form-text-fild">
          <input type="text" [(ngModel)]="city" name="City" class="form-control" placeholder="City">
        </div>
        <div class="col-md-12 new-customer-form-text-fild">
          <input type="text" [(ngModel)]="pinCode" name="PinCode" class="form-control" placeholder="Pin Code">
        </div>
        <div class="new-customer-buttons">
          <button class="btn btn-primary" (click)="addUser()">Add User</button>
          <button class="btn btn-danger" [routerLink]="['/Users']">Go Back</button>
        </div>
    </div>
  </form>
</div>
