<div class="row">
  <nav class="navbar navbar-light bg-light col-md-12">
    <a class="navbar-brand float-left" href="#">Customer Details</a>
    <form class="form-inline float-right">
      <input class="form-control mr-sm-2" [(ngModel)]="search" name="Search" type="search" placeholder="Search"
        aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchUsers()" type="button">Search</button>
    </form>
  </nav>
</div>

<div class="container">
  <main class="table row">
    <button class="btn btn-primary" [routerLink]="[ '/Users/Add']"> Add New User</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">Pin Code</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of users | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
          <th>{{person.id}}</th>
          <td>{{person.first_name}}</td>
          <td>{{person.address}}</td>
          <td>{{person.city}}</td>
          <td>{{person.pincode}}</td>
          <td>
             <span><i [routerLink]="['/Users/Detail/', person.id]" class="far fa-eye"></i></span>
             <span><i [routerLink]="['Edit', person.id]" class="fas fa-user-edit"></i></span>
             <span><i [routerLink]="['Edit', person.id]" class="fas fa-trash-alt"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ul>
    </nav>
  </main>

</div>